* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: 'Roboto', sans-serif;
}

.container {
	position: relative;
	width: 1140px;
	margin: 0 auto;
}

.promo {
	height: 800px;
	background: url(./Img/Main_img/main_bg.jpg)center center/cover no-repeat;
}

.logo {
	padding: 38px 0 0 0;
}

.logo .logo-img {
	display: block;
	margin: 0 auto;
}

.logo .logo-text {
    margin-top: 10px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

h1 {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 41px;
	line-height: 41px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #F9BF3B;
	margin-top: 53px;
}

.title_big{
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 80px;
	line-height: 80px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-top: 20px;

}

h2.title {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 41px;
	line-height: 41px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #F9BF3B;
	margin-top: 20px;
	}

.promo_text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 21px;
	line-height: 28px;
	text-align: center;
	align-items: center;
	color: #FFFFFF;
	margin-top: 22px;
	padding: 0 15px;
}

.promo_text>span {
	font-family: Roboto - Bold;
	font-weight: 700;
	color: #F9BF3B;
}

.promo_btn, .gift .gift_btn{
	width: 313px;
	height: 72px;
	background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
	box-shadow:inset 0 0 0 rgba(0, 0, 0, 0.18);
	border: 4px solid rgba(0, 0, 0, 0.23);
	font-family: RobotoCondensed;
	font-size: 21px;
	line-height: 24px;
	display: block;
	margin: 0 auto;
	margin-top: 72px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

.more {
	display: block;
	align-items: center;
}

.more_text {
	text-align: center;
	margin: 70px 0 5px 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: 100;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.more_img {
	display: block;
	margin: 0 auto;
	cursor: pointer;
}

.waiting {
	width: 100%;
	background: #EFEFEF;
	padding-top: 85px;
}

.waiting .waiting_header, .finish .finish_header {
	display: block;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #252525;
}

.finish .finish_header {
	color: #EFEFEF;
}

.waiting .waiting_divider, .finish .finish_divider {
	display: block;
	margin: 18px auto 0 auto;
	width: 220px;
	border-bottom: 6px solid  #F9BF3B;;
}

.waiting .waiting_subheader {
	margin-top: 18px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 20px;
	display: block;
	text-align: center;
	color: #4A4A4A;
}

.waiting .waiting_wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.waiting .waiting_descr {
	max-width: 360px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #4A4A4A;
}

.optimization {
	min-height: 550px;
	padding: 100px 0 70px 0;
}

.optimization .optimization_header {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #299CBD;
	margin-left: 390px;
}

.optimization .optimization_text {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 27px;
	display: block;
	align-items: center;
	color: #4A4A4A;
	max-width: 750px;
	margin-left: 390px;
}

.optimization .optimization_text .optimization_text-1 {
	display: block;
	margin-top: 5px;
}

.optimization .optimization_text .optimization_text-2 {
	display: block;
	margin-top: 10px;
}

.optimization .optimization_text .optimization_text-3 {
	display: block;
	margin-top: 10px;
}


.optimization .optimization_text .optimization_text-4 {
	font-weight: bold;
	display: block;
	margin-top: 10px;
}

.optimization_img {
	position: absolute;
	display: flex;
	left: -150px;
    top: -100px;
	z-index: -1;
}

.finish {
	max-height: 610px;
	background: url(./Img/finish/second_bg.jpg) center center/cover no-repeat;
	padding: 90px 0 70px 0;
}

.finish .finish_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.finish .finish_wrapper .finish_icon {
	display: flex;
	align-items: center;
	margin: 0 auto;
	border-radius: 100%;
	background: #B4E2FF;
	width: 118px;
	height: 118px;
	margin-top: 40px;
}

.finish .finish_wrapper .finish_icon .finish_icon-item {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.finish .finish_wrapper .finish_descr {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	align-items: center;
	text-align: center;
	color: #EFEFEF;
	max-width: 224px;
	margin-top: 25px;
}

.gift {
	max-height: 630px;
	background: #EFEFEF;
	padding: 80px 0;
}

.gift .gift_icon {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.gift .gift_descr {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 43px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #252525;
	margin-top: 45px;
}

.first {
	max-height: 515px;
	background: rgba(0, 0, 0, 0.0001);
	padding: 90px 0 50px 0;
}

.first .first_icon {
	display: flex;
	margin: 0 auto;
}

.first .first_title {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	color: #252525;
	margin-top: 35px;
}

.first .first_clock {
	font-family: Roboto;
	font-style: normal;
	font-weight: 900;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	color: #299CBD;
	margin-top: 30px;
}

.first .first_descr {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	line-height: 20px;
	text-align: center;
	color: #4A4A4A;
	margin-top: 25px;
}

footer {
	background: #1A1A1A;
	min-height: 170px;
	padding: 70px 0;
}

footer .footer_descr, footer .footer_tel {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	text-align: center;
	text-decoration-line: underline;
	color: #888888;
	display: block;
}

footer .footer_tel {
	margin-top: 5px;
}

